
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/login.css" >

</head>
<body>

  <div class="login-wrap">
  	<div class="login-html">
			<span style="color:red" ><h3><strong><%=message%></strong></h3></span>
  		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
			<div class="login-form">
				<form action="/StaffInterface/RecoveryPasswordS" method ="post" >

  				<div class="group">
  					<label for="email" class="label">Email</label>
  					<input id="email" type="email"  class="input" name="account[email]">
  				</div>


  				<div class="group">
  					<input type="submit" class="button" value="Forgot Password">
  				</div>
  				<div class="hr"></div>
  				<div class="foot-lnk">
					<p id="demo"></p>
						<span onclick="window.location.href='/StaffInterface/loginStaff';">Back to Login</span>
  					<!-- <a onclick="myFunction()" href='/loginAD?email='>Back to Login</a> -->
  				</div>

			</form>

  		</div>
  	</div>
  </div>
</body>
</html>
